/* Resetovanje CSS-a */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globalni stilovi */
body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #34495e;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(100, 175, 255, 0.3);
    width: 500px;
    color: #fff;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.input-group input {
    padding: 10px 40px 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    background-color: #f2f2f226;
}

.input-group input::placeholder {
    color: #ffffff7b; /* Promenite boju placeholder teksta */
}

.btn-login {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #2980b9;
}

.logo-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.logo-container img {
    width: 50px;
    height: auto;
}

p {
    margin-top: 20px;
}

p a {
    color: #3498db;
    text-decoration: none;
}

p a:hover {
    color: aliceblue;
    text-decoration: none;
}